name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: read
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    name: "CLA Assistant"
    uses: ctfpilot/ci/.github/workflows/cla-assistant.yml@v1.2.9
    secrets: inherit
    with:
      repository: instancing-fallback
